.pay{ ng: { controller: 'PayController', switch: { when: 'pay' } } }
  .row
    .small-12.columns
      %h4 Payments
  .row
    .small-12.columns
      .payments.table
        .row.header
          .small-6.columns Payment Method
          .small-2.columns Status
          .small-2.columns.text-right Amount
          .small-2.columns &nbsp;
        .row{ ng: { repeat: 'payment in currentOrder.payments' } }
          .small-6.columns {{ payment.payment_method.name }}
          .small-2.columns {{ payment.state }}
          .small-2.columns.text-right {{ payment.display_amount }}
          .small-2.columns.text-right
            %i.no-text.red.icon-remove
            %i.no-text.green.icon-ok
        .row
          .small-8.columns
            %strong Total Received
          .small-2.columns.text-right
            %strong {{ currentOrder.display_payment_total }}
          .small-2.columns &nbsp;

  %hr

  .row
    .small-8.small-centered.columns
      %h4.text-center New Payment
      .row
        .small-4.columns
          Amount To Pay:
        .small-8.columns
          %input{ type: "number", step: '0.01', ng: { model: 'amountToPay' } }
      .row
        .small-4.columns
          Amount Tendered:
        .small-8.columns
          %input{ type: "number", step: '0.01', ng: { model: 'amountTendered' } }
      .row
        .small-4.columns
          Change Owed:
        .small-8.columns
          %input{ type: "number", step: '0.01', disabled: true, ng: { model: "changeOwed" } }

  .row
    .small-8.small-centered.columns
      .row
        .small-6.columns
          %a.green.button.small.fullwidth{ href: '#', data: { reveal: { id: "pay-modal" } } }
            %i.icon-ok
            Pay Now
          #pay-modal.small.reveal-modal{ aria: { hidden: "true" }, data: { reveal: true}, :role => "dialog"}
            .row
              .small-12.columns.text-center
                %h4 Pay ${{ amountToPay }} Via:
            .row
              .small-6.columns
                %a.button.small.fullwidth
                  Cash
              .small-6.columns
                %a.button.small.fullwidth
                  Card
            .row
              .small-6.columns
                %a.button.small.fullwidth
                  EFT
              .small-6.columns
                %a.button.small.fullwidth
                  Account
            %a.close-reveal-modal{ aria: { label: "Close" } } ×
        .small-6.columns
          %a.button.red.small.fullwidth{ href: 'javascript:void(0)', ng: { click: "config.view = 'products'"} }
            %i.icon-chevron-left
            Back to Products


  -#
  -# .row
  -#   .small-12.columns.text-center
  -#     %h4 Pay Now Via
  -# .row
  -#   .small-8.small-centered.columns
  -#     .row
  -#       .small-3.columns
  -#         %a.button.small.fullwidth
  -#           Cash
  -#       .small-3.columns
  -#         %a.button.small.fullwidth
  -#           Card
  -#       .small-3.columns
  -#         %a.button.small.fullwidth
  -#           EFT
  -#       .small-3.columns
  -#         %a.button.small.fullwidth
  -#           Account
