.pos{ ng: { app: "admin.pos", controller: "POSCtrl" } }
  .row{ ng: { hide: 'shopID && orderCycleID' } }
    .small-12.medium-8.large-4.small-centered.columns
      Select a Shop:
      %br
      %select{ ng: { model: 'shopID', options: 's.id as s.name for s in shops' } }

      and an Order Cycle:
      %br
      %select{ ng: { model: 'orderCycleID', options: 'oc.id as oc.name for oc in orderCycles' } }

  .row{ ng: { show: 'shopID && orderCycleID' } }
    .small-12.medium-6.large-5.columns
      = render 'cart'
    .small-12.medium-6.large-7.columns
      = render 'products'
      = render 'pay'
