.row{ 'ng-hide' => 'loading || products.length == 0', style: "margin-bottom: 10px" }
  %div.small-3.columns
    %input.four.columns{ :type => 'button', :value => 'Save Changes', 'ng-click' => 'submitProducts()'}
  %div.small-6.columns
    = render 'spree/admin/shared/status_message'
  %div.small-3.columns
    %div.ofn_drop_down{ 'ng-controller' => "DropDownCtrl", :id => "columns_dropdown", 'ofn-drop-down' => true, :style => 'float:right;' }
      %span{ :class => 'icon-reorder' } &nbsp; Columns
      %span{ 'ng-class' => "expanded && 'icon-caret-up' || !expanded && 'icon-caret-down'" }
      %div.menu{ 'ng-show' => "expanded" }
        .row.menu_item{ 'ng-repeat' => "column in columns", 'ofn-toggle-column' => true }
          %span.small-3.columns{ :style => 'text-align: center'} {{ column.visible && "&#10003;" || !column.visible && "&nbsp;" }}
          %span.small-9.columns {{column.name }}
