$top-bar-height: 3rem;
$full-nav-width: 13rem;
$mini-nav-width: 3rem;
$main-horizontal-padding: 5rem;


#wrap {
  #full-nav {
    position: fixed;
    left: 0;
    top: 0;
    padding-top: $top-bar-height;
    background-color: #fafafa;
    z-index: 50;
    height: 100vh;
    overflow-y: scroll;
    width: $full-nav-width;
  }

  #main {
    margin-left: $full-nav-width;
    margin-top: $top-bar-height;
    padding: 2rem 3vw 0rem 3vw;
    font-size: 12px;
  }

  &.minified-nav {
    #full-nav {
      width: $mini-nav-width;

      li.menu_group, li.menu_item {
        &>a {
          display: none;
          &.minified {
            display: block;
          }
        }
      }
    }

    #main {
      margin-left: $mini-nav-width;
    }
  }
}
