#full-nav {
  li [class^="icon-"], li [class*=" icon-"]{
    text-align: left;
  }

  li {
    list-style-type: none;

    &>a {
      margin: 0 0 0.4375rem 0;

      &::before {
        font-size: 1.2rem;
      }
    }

    &.menu_group {
      &>a::after {
        float: right;
        margin: 0.2rem 0.2rem 0rem 2rem;
        font-family: FontAwesome;
        font-weight: normal;
        font-style: normal;
        display: inline-block;
        text-decoration: inherit;
        content: "\f078";
      }
      ul {
        display: none;
      }

      &.expanded {
        &>a::after {
          content: "\f077";
        }
        // ul {
        //   display: block;
        // }
      }
    }
  }
}
