#full-nav {
  li [class^="icon-"], li [class*=" icon-"]{
    text-align: left;
  }

  li {
    list-style-type: none;

    &>a {
      margin: 0 0 0.4375rem 0;

      &::before {
        font-size: 1.2rem;
        width: 2rem;
      }
    }

    &.menu_item {
      &>a {
        &.minified {
          display: none;
        }
      }
    }

    &.menu_group {
      &>a {
        &:not(.minified)::after {
          font-family: FontAwesome;
          font-weight: normal;
          font-style: normal;
          display: inline-block;
          text-decoration: inherit;
          float: right;
          margin: 0.2rem 0.2rem 0rem 2rem;
          content: "\f078";
        }

        &.minified {
          display: none;
        }
      }

      ul {
        display: none;
        .menu_item {
          padding-left: 1rem;
        }
      }

      &.expanded {
        &>a {
          &:not(.minified)::after {
            content: "\f077";
          }
        }
      }
    }
  }
}
